.navBar {
	&__brand {
		color: #138496;
	}
	&__links {
		display: flex;
		justify-content: flex-end;
		width: 100%;

		img {
			width: 10%;
			cursor: pointer;
		}
	}

	&__notification {
		margin: 0 0.5rem;
		border: 1px solid #eaeaea;
		padding: 0.2rem 0.4rem;
		border-radius: 4px;

		&:hover {
			color: #333;
			background-color: #eaeaea;
		}
	}

	&__search {
		width: 40%;
	}

	&__modal {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #3333;
		margin-bottom: 1rem;
		padding-bottom: 1rem;

		&--header {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
		}

		&--headerSearch {
			border-top: 1px solid #333;
			margin-top: 1rem;
			padding-top: 1rem;
		}
		&--userInfo {
			display: flex;
			align-items: center;
		}
		&--userName {
			display: flex;
			flex-direction: column;
			margin-left: 1rem;

			strong {
				cursor: pointer;
			}

			span {
				color: rgb(136, 135, 135);
			}
		}
	}
}
.navbar-nav {
	align-items: center;
}

.modal-body {
	overflow: auto;
	height: 50vh;
}

.popover {
	position: absolute;
	inset: 0px auto auto 0px;
	margin: 0px;
	transform: translate(784px, 83px);
	overflow-x: scroll;
	height: 65%;
}

.popover-body {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid #3333;
	padding: 0.5rem;
	overflow-x: auto;
	cursor: pointer;

	&:hover{
		background-color : #3333
	}
}
